nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
  background: rgb(255, 102, 0);
  color: white;
  margin: auto 2px;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.links-left {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pipe-separator {
  color: black;
}
#logo {
  width: 16px;
  height: 16px;
  border: 1px white solid;
  margin-left: 3px;
}

.newsitem {
  background-color: rgb(253 251 223);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  color: black;
}
