.App {
  margin: 10px 125px;
  height: 100%;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

td {
  margin: 0;
  padding: 0;
}

td img {
  padding: 1px 2px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}